.container {
  display: flex;

  #query, #output, .flex-h {
    flex: 1 1 auto;
  }

  > *:not(:first-child) {
    margin-left: 0.5em;
  }
}

.vpanel {
  display: flex;
  flex-direction: column;

  > * {
    padding: 1ex 1em;
  }

  > *:not(:first-child) {
    margin-top: 1ex;
  }
}

label {
  user-select: none;
}

button {
  padding: 1ex 1em;
}

kbd {
  font-size: .95em;
  border: 1px solid #666;
  border-radius: 3px;
  background-color: #eee;
  display: inline-block;
  padding: 2px 6px;
}

#query {
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 15px;
}

#output {
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 15px;

  white-space: pre;
  overflow-x: auto;

  &.error {
    color: #f00;
  }
}

#help {
  float: right;
  margin: 0.2em 0 0.2em 8px;
  padding: 0.5em;
  border: 2px solid #999;
  border-radius: 0.5em;

  > h2 {
    margin: 0;
    font-size: 1.2em;
  }
  > div {
    padding-left: 0.5em;
  }
  a {
    color: inherit;
  }
}

.cover {
  display: flex;

  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #0008;

  color: white;
  > div {
    padding: 2em 5em;
    display: inline-block;
    border-radius: 1ex;
    margin: auto;
    background-color: black;
  }

  progress {
    width: 75vw;
  }
}
